@model ReserveViewModel;

<h2>Reservations</h2>
<p>@TempData["Message"]</p>

@using (Html.BeginForm())
{
    <div>
        @Html.Label("Name", "Name", new { @class = "control-label" })
        @Html.TextBoxFor(m=>m.Name)
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        @Html.Label("LocationId", "Location", new { @class = "control-label" })
        @Html.DropDownListFor(m => m.LocationId, new SelectList(Model.Locations, "LocationId", "Name"), "Select Location")
        @Html.ValidationMessageFor(m => m.LocationId, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        @Html.Label("NumOfPeople", "Number of People", new { @class = "control-label" })
        @Html.TextBoxFor(m => m.NumOfPeople)
        @Html.ValidationMessageFor(m => m.NumOfPeople, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        @Html.Label("ReservationDateTime", "Date", new { @class = "control-label" })
        @Html.TextBoxFor(m => m.ReservationDateTime, "{0:yyyy-MM-ddTHH:mm}", new { type = "datetime-local" })
        @Html.ValidationMessageFor(m => m.ReservationDateTime, "", new { @class = "text-danger" })
    </div>
    <br />
    <button type="submit">Find A Table</button>
}

<hr />

<section class="location-section">
    <h1>Our Locations</h1>
    <div class="l-container">
        <div class="location-info">
            <h2>@Model.Locations[0].Name</h2>
            <h3>Address:</h3>
            <p>@Model.Locations[0].Address</p>
            <h3>Phone:</h3>
            <p>(204) 555-0123</p>
            <h3>Email:</h3>
            <p>winnipeg@elevarestaurant.com</p>
            <h3>Hours:</h3>
            <p>Monday - Sunday: 11:00 AM - 10:00 PM</p>
            <figure style="background-image: url('@Model.Locations[0].Image');">
            </figure>
        </div>
        <div class="l-line"></div>
        <div class="location-info">
            <h2>@Model.Locations[1].Name</h2>
            <h3>Address:</h3>
            <p>@Model.Locations[1].Address</p>
            <h3>Phone:</h3>
            <p>(204) 444-0123</p>
            <h3>Email:</h3>
            <p>toronto@elevarestaurant.com</p>
            <h3>Hours:</h3>
            <p>Monday - Sunday: 11:00 AM - 10:00 PM</p>
            <figure style="background-image: url('@Model.Locations[1].Image');">
            </figure>
        </div>
    </div>
</section>
