<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RestaurantProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RestaurantProject.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch+Sans:wght@100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/reset.css">

    <script type="module" src="./js/app.js"></script>
</head>
<body>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer class="">
        <div class="container">
            <section class="footer-box">
                <div class="footer-title">
                    <h2>Elevé</h2>
                </div>
                <div class="footer-links">
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <a href="@Url.Action("Index", "Reserve")">Find a Table</a>
                    <a href="@Url.Action("Index", "Menu")">Menu</a>
                </div>
                <div class="footer-info">
                    <p>145 Maple Ridge Road, Winnipeg, MB R2V 1N3, Canada</p>
                    <p>204-414-9367</p>
                    <p>info@elevé.com</p>
                </div>
                <div class="footer-logos">
                    <figure class="icons">
                        <img class="fb" src="./media/social_facebook.png" />
                    </figure>
                    <img class="icons insta" src="./media/social_instagram.png" />
                    <img class="icons xicon" src="./media/social_x.png" />
                </div>
            </section>
            <p class="footer-cc">&copy; 2024 / ELEVE</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
