@model MenuViewModel;


@{
	ViewBag.Title = "Index";
}

<div class="row menu-wrapper">
	<div class="col">

		<h2 class="menu-title">Appetizers</h2>

		@* display appetizers *@

		@foreach (var item in Model.Appetizers)
		{
			<div class="menu-box">
				<div class="menu-name">
					@Html.DisplayFor(modelItem => item.Name)
				</div>
				<div class="menu-description">
					@Html.DisplayFor(modelItem => item.Description)
				</div>
				<div class="menu-price">
					$@Html.DisplayFor(modelItem => item.Price)
				</div>
			</div>
		}



		<h2 class="menu-title">Deserts</h2>

		@* display Deserts *@

		@foreach (var item in Model.Deserts)
		{
			<div class="menu-name">
				@Html.DisplayFor(modelItem => item.Name)
			</div>
			<div class="menu-description">
				@Html.DisplayFor(modelItem => item.Description)
			</div>
			<div class="menu-price">
				@Html.DisplayFor(modelItem => item.Price)
			</div>
		}



	</div>
	<div class="col">

		<h2 class="menu-title">Mains</h2>

		@* display Mains *@


		@foreach (var item in Model.Entrees)
		{
			<div class="menu-name">
				@Html.DisplayFor(modelItem => item.Name)
			</div>
			<div class="menu-description">
				@Html.DisplayFor(modelItem => item.Description)
			</div>
			<div class="menu-price">
				@Html.DisplayFor(modelItem => item.Price)
			</div>
		}
		<h2 class="menu-title">Drinks</h2>

		@* display Drinks *@

		@foreach (var item in Model.Drinks)
		{
			<div class="menu-name">
				@Html.DisplayFor(modelItem => item.Name)
			</div>
			<div class="menu-description">
				@Html.DisplayFor(modelItem => item.Description)
			</div>
			<div class="menu-price">
				@Html.DisplayFor(modelItem => item.Price)
			</div>
		}
	</div>
</div>


