@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model MenuViewModel;
<link rel="stylesheet" href="./css/menu.css">
<header>
	<div class="menu-header-overlay"></div>
	<div class="container header-content">
		<div class="header-top">
			<div class="hamburger-container">
				<div class="hamburger">
					<span class="hamburger-line"></span>
					<span class="hamburger-line"></span>
				</div>
				<div class="hamburger-menu">
					<a href="@Url.Action("Index", "Home")" class="nav-link">Home</a>

					<a href="@Url.Action("Index", "Reserve")" class="nav-link">Find a Table</a>
					<a href="@Url.Action("Index", "Menu")" class="nav-link">Our Menu</a>
					@if (SignInManager.IsSignedIn(User)) {
						<form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
							<button id="logout" type="submit" class="nav-link logout-btn">Logout</button>
						</form>
					} else {
						<a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
					}
					<a href="@Url.Action("Index", "Manage")" class="nav-link">Management</a>
				</div>
			</div>
			<a href="@Url.Action("Index", "Home")" class="logo serif-font">Elevé</a>
			<button class="find-a-table-btn"><a class="reserve-header-btn" href="@Url.Action("Index", "Reserve")">Find a Table</a></button>
		</div>
		<div class="header-text serif-font">
			<h1>OUR MENU</h1>
			<p>Where Every Dish Tells a Story</p>
		</div>
	</div>
</header>

@* menu-bar *@
<section class="container menu-section">
	<div class="row-1">
		<h1>Appetizers</h1>
		<div class="menu-bar">
			@foreach (var appetizer in Model.Appetizers) {
				<h2>@appetizer.Name</h2>
				<p class="menu-des">@appetizer.Description</p>
				<p class="menu-pr">$@appetizer.Price</p>
			}
		</div>

		<h1>Desserts</h1>
		<div class="menu-bar">
			@foreach (var desert in Model.Deserts) {
				<h2>@desert.Name</h2>
				<p class="menu-des">@desert.Description</p>
				<p class="menu-pr">$@desert.Price</p>
			}
		</div>
	</div>
	<div class="row-2">
		<h1>Mains</h1>
		<div class="menu-bar">
			@foreach (var main in Model.Entrees) {
				<h2>@main.Name</h2>
				<p class="menu-des">@main.Description</p>
				<p class="menu-pr">$@main.Price</p>
			}
		</div>

		<h1>Drinks</h1>
		<div class="menu-bar">
			@foreach (var drink in Model.Drinks) {
				<h2>@drink.Name</h2>
				<p class="menu-des">@drink.Description</p>
				<p class="menu-pr">$@drink.Price</p>
			}
		</div>
	</div>
</section>
